<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>リアルタイム仮想通貨価格一覧</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
  <header>
    <div class="hero is_link is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"><a href="#">リアルタイム仮想通貨価格一覧</a></h1>
          <h2 class="subtitle">毎分更新が行われています</h2>
        </div>
      </div>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer></footer>
</body>
</html>